{% extends 'base.html' %}

{% block head %}
<title>Chess Openings</title>
{% endblock %}

{% block body %}
<body>

	<div class="container-contact100">
		<div class="wrap-contact100">
			<form class="contact100-form validate-form" id="form" action="/" method="POST">
				<span class="contact100-form-title">
					Chess Openings Explorer
				</span>
				<div class="wrap-input100 input100-select">
					<span for="standard-select" class="label-input100">ELO Range</span>
					<div class="select">
                        <select id="content" class="select" name="service">
                              <option value="ALL" selected="selected">All</option>
                              <option value="<800">under 800</option>
                              <option value="800-1000">800 - 1000</option>
                              <option value="1000-1200">1000 - 1200</option>
                              <option value="1200-1400">1200 - 1400</option>
                              <option value="1400-1600">1200 - 1400</option>
                              <option value=">1600">over 1600</option>
                        </select>
					</div>
					<span class="focus-input100"></span>
				</div>

                <div class="wrap-input100 validate-input" data-validate="Name is required">
					<span class="label-input100">Opening Line</span><br>
					<input class="input100" type="text" name="name" placeholder="d4,d5,c4">
					<span class="focus-input100"></span>
				</div>
						 <input type="submit" value="Map Popularity">
			</form>
		</div>
    <div class="div2">
        <div class="graph">
            {{ script1 | safe }}
            {{ div1 | safe }}
        </div>
    </div>
	</div>

    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.2.3.min.js" crossorigin="anonymous"></script>
	<script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.2.3.min.js" crossorigin="anonymous"></script>
	<script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.2.3.min.js"   crossorigin="anonymous"></script>

	<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>

</body>
{% endblock %}